{
    "swagger": "2.0",
    "info": {
        "title": "sensorimanto API",
        "description": "A sample API with information related to a technical conference.  The available resources  include *Speakers*, *Sessions* and *Topics*.  A single write operation is available to provide  feedback on a session.",
        "version": "2.0.0"
    },
    "host": "sensoriamentoapidev.azure-api.net",
    "schemes": [
        "http",
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "paths": {
        "/api/values": {
            "get": {
                "description": "A list of sessions.  Optional parameters work as filters to reduce the listed sessions.",
                "operationId": "GetSessions",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/vnd.collection+json"
                ]
            }
        },
        "api/values/{id}": {
            "get": {
                "description": "Retreive a representation of a single session by Id",
                "operationId": "GetSession",
                "parameters": [
                    {
                        "$ref": "#/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "produces": [
                    "application/hal+json",
                    "text/plain"
                ]
            }
        }
    }
}